# Scegli il motore del database: 'local' (browser), 'supabase' o 'firebase'
VITE_STORAGE_MODE=supabase

# Se hai scelto Supabase, inserisci qui le tue chiavi
VITE_SUPABASE_URL=inserisci_qui_il_tuo_url
VITE_SUPABASE_ANON_KEY=inserisci_qui_la_tua_chiave

# Se hai scelto Firebase, inserisci qui la tua configurazione
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=